nav{
    background: white;
    width: 100%;
    height: 5rem;
}
nav ul{
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

nav ul li button{
    display: inline;
    color: white;
    text-decoration: none;
}

div{
    text-align: center;
    padding: 10px;
    
}

.btnAgregar{
    background-color: turquoise;
    text-align: center;
    border-radius: 10px;
}

.tarjetita{
    border: 2px;
    background-color: azure;
    padding: 10px;
}

.tarjetita:hover div a img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.detalles{
    min-width: 100%;
    background-color: azure;
    border: 2px solid black;
    display: flex;
    flex-direction: row;

}
.info{
    display: flex;
    flex-direction: column ;
    align-content: center;
    align-items: 
}

.tablaCarrito{
    border: 0.5px solid dark;
    width: 80%;
    text-align: center;
}
tablaCarrito:hover{
    background: antiquewhite;
}

.canti{
    border: 0px;
    width: 15px;
    text-align: center;
}

.comprar{
    background-color: orange;
    color: black;
    border-radius: 7px;
}
Bcarrito{
    background-color: white;
}
.carrito{
    float: right;
}

#carrito-container{
    width: 400px;
    background: white;
    border: solid 1px #000;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    margin-top: 10px;
    display: none;
}

